<h2>Coming soon</h2>
<div class="row" data-ng-if="false">
    <div class="row well well-sm">
        <h1>{{ Deck.name }}</h1>
        <ul class="card-fields">
            <li>Panteón:<a href="/Mazos/{{ Pantheon.name }}">{{ Pantheon.name }}</a></li>
            <li>Creador: {{ Deck.creator }}</li>
            <li>Basado en: <a href="/Mazo/{{ ParentDeck.id }}">{{ ParentDeck.name }}</a></li>
            <li>Descripción: {{ Deck.description }}</li>
        </ul>
        <h2>Composición</h2>
        <ul class="deck-cards">
            <li data-ng-repeat="deckCard in Deck.DeckCards|orderBy:'Card.type'"><a href="/Carta/{{ deckCard.Card.code }}">{{ deckCard.Card.name }}</a> x{{ deckCard.quantity }}</li>
        </ul>
    </div>
    <div id="disqus_thread"></div>
</div>